@import '../reindeer/legacy-styles.css';

.pims-main-layout {
	height: 100%;
	width: 100%;
	display: table;
}

.v-slot-pims-main-header {
	display: table-row;	
}

.pims-main-header {
	width: 100%;
	background-color: #3399FF;
	text-align: center;
	border-bottom: 1px solid grey;
	padding: 1px 0px;
}

.v-slot-pims-main-menubar {
	display: table-row;	
}

.pims-main-menubar {
	width: 100%;
}

.pims-contentpanel-header-layout {
	border-width: 1px;
	border-style: solid;
	border-radius: 5px 5px 5px 5px;	
	margin: 2px 8px;
	width: calc(100% - 16px);
}

.v-slot-pims-contentpanel-header-label {
	display: table-cell;
	vertical-align: middle;
	background-color: pink;
	border-radius: 5px 0px 0px 5px;
	border-style: none dotted none none;
	border-width: 1px;
}

.v-slot-pims-contentpanel-header-content-layout {
	display: table-cell;
}

.pims-contentpanel-header-content-label {
	display: inline-block;
	margin: 1px 2px 1px 2px;
}

.v-slot-pims-contentpanel-header-content-layout {
	width: 100%;
}

.v-panel-deco-pims-finesspanel,
.v-panel-deco-pims-contentpanel {
	visibility: hidden;
}

.v-slot-pims-splitpanel {
	height: 100%;
	display: table-row;
	background-color : white;
}

/* == UPLOAD WINDOW == */

.pims-upload-vertical-layout.v-csslayout {
	display: table;
	width: 100%;
}

.pims-upload-vertical-layout.v-csslayout > div {
	display:table-row;
}

.pims-upload-vertical-layout.v-csslayout > div > form,
.pims-upload-vertical-layout.v-csslayout > div > div {
	display:table-cell;
	vertical-align: middle;
}

.pims-upload-vertical-layout.v-csslayout > div > div:nth-child(1) {
	width: 15%;
}

.pims-upload-vertical-layout.v-csslayout > div > form:nth-child(2) {
	width: 15%;
}

.pims-upload-vertical-layout.v-csslayout > div > div:nth-child(3) {
	width: 60%;
}

.pims-upload-vertical-layout.v-csslayout > div > img:nth-child(4) {
	width: 10%;
	width: 1.5em;
}

/* Disable input.gwt-FileUpload because it doesn't like the css placement in vaadin */

.pims-upload-vertical-layout.v-csslayout input.gwt-FileUpload {
	display: none;
}